<!-- <div class="row">
    <agm-map [latitude]="depo.latitude" [longitude]="depo.longitude">
        <agm-marker [latitude]="depo.latitude" [longitude]="depo.longitude"></agm-marker>
    </agm-map>
</div> -->

<ng-container *ngFor="let assignment of assignments; let i = index">
    <div class="row">
        <div class="col-md-12">
            <div *ngIf="assignment.droneId != undefined">
                <div class="panel panel-success">
                    <div class="panel-heading">Assignment</div>
                    <div class="panel-body">
                        <label>Drone Id: </label>{{ assignment.droneId }}
                        <label>Package Id: </label>{{ assignment.packageId }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>